html{
	font-size: $base-font-size;
	line-height: 1;
	margin-top: 0;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body{
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $body-font;
	font-weight: normal;
	font-weight: 400;
	color: $text-color;
}

p,
ul,
ol,
dl,
blockquote,
hr {
	font-size: 1em;
	margin: $base-type-margin 0;
	line-height: $base-line-height;
}

hr{
	border: none;
	background: $headline-color;
	height: $base-hr-size;
	margin: $base-hr-margin 0;
}

blockquote {
	font-size: modular-type(2);
	padding: 1em 0 1em 1.5em;
	border-left: 2px solid $accent-color;
}

em {
	font-style: italic;
}

strong {
	color: $headline-color;
}