@mixin hover-link($color: $primary-dark) {
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;

	&:hover {
		border-color: $primary-color;
	}
}

.hover-link {
	@include hover-link();
}

a {
	color: $link-color;

	&:hover {
		color: $text-color;
	}
}
