$base-font-size: 13px;
$headline-font: $font-sans;
$body-font: $font-sans;

$container-width: 80%;
$container-width-num: .80;
$content-width: 1151px;
$container-min: $content-width + 40px;
$col-width: 230px;
$grid-offset-side: 100px;
$container-fluid-max-cols: 5;
$gutter: 30px;

$black: 			#000000;
$medium-grey:		#666666;
$light-grey:		#CC9999;

$primary-color:		$black;
$accent-color:		$light-grey;

$headline-color: $primary-color;
$subheading-color: $primary-color;

$pace: .2s;