@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@import "modular-type";
@import "base-typography";
@import "headings";
@import "links";

@mixin block-separator() {
	&::after {
		content: "";
		width: $gutter/2;
		background-color: $primary-color;
		height: 2px;
		display: block;
		position: relative;
		bottom: -2px;
		margin-top: $gutter;
	}
}