body {
	min-width: 320px;
}

.site-header {
	padding-top: 90px;
}

.home main {
	padding-top: 2em;
}

.site-footer {
	display: none;
	font-size: 11px;

	@include bp-min($col-width * 4 + $col-width/4) {
		display: block;
		position: fixed;
		bottom: $gutter * 3;
		right: 0;
		transform: rotate(-90deg);

		p {
			margin: 0;
			padding: 0;
		}
	}
}