@mixin circle-image {
	border-radius: 50%;
}

.avatar {
	@include circle-image
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

figure img {
	max-width: 100%;
	display: block;
}

figcaption {
	font-size: 12px;
	color: grey(60);
	// font-style: italic;
	margin: $base-type-margin 0 0 0;
}


.align-left,
.align-right {
	margin-bottom: $base-type-margin;
}

.align-none {
	margin: ($base-type-margin * 2) 0;
}

.align-left,
.align-right {
	width: 60%;
}

.align-right {
	float: right;
	text-align: right;
	margin-left: $base-type-margin * 1.25;
}

.align-left {
	float: left;
	margin-right: $base-type-margin * 1.25;
}
