.seo-hidden {
	display: inline-block;
	height: 0;
	width: 0;
	text-indent: -9999px;
	position: absolute;
	overflow: hidden;
}

.hidden {
	display: none;
}

@mixin arrow {
	&:after {
		content: "→";
		display: inline-block;
		padding-left: 6px;
	}
}