@mixin col-bp-min($col) {
	@include bp-min( ( $col-width * $col + ( $col-width / 2 ) ) / $container-width-num) {
		@content;
	}
}

@mixin col-bp-max($col) {
	@include bp-max( ( $col-width * $col + ( $col-width / 2 ) ) / $container-width-num ) {
		@content;
	}
}

@for $i from 1 through 12 {
	.flex-col-#{$i} {
		flex-basis: 100% / 12 * $i;
	}
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	
	.flex-item {
		padding-left: $gutter;
		padding-right: $gutter;
		flex: 0 0 $col-width;
	}
}