.hover-fixed {
	z-index: 2;

	&:hover {
		z-index: 1;
	}

	&__image {
		display: none;
		z-index: -1;
		position: fixed;
		max-width: 60%;
		height: auto;
		margin-bottom: 0 !important;

		&.hover-top-left,
		&.hover-top-right {
			top: 90px;
		}

		&.hover-bottom-left,
		&.hover-bottom-right {
			bottom: 0;
		}

		&.hover-top-left,
		&.hover-bottom-left {
			left: 0;
		}

		&.hover-top-right,
		&.hover-bottom-right {
			right: 0;
			text-align: right;
		}

		img {
			display: inline-block;
		}
	}

	@include col-bp-min(4) {
		&__trigger:hover &__image{
			display: block;
		}
	}

}
