.navbar {
	padding: $gutter*0.5 0;
	background-color: white;

	&.navbar-fixed {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10;

		.container {
			display: flex;
			align-items: center;
		}
	}

	.active {
		font-weight: 700;
	}
}

.navbar__items {
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	text-align: right;
	padding: 22px $gutter;
	width: 100%;

	@include bp-min($container-start) {
		text-align: left;
	}

	a {
		color: $black;
		font-size: 13px;
		@include hover-link();
		@include transition();
	}

	li {
		display: inline-block;
		padding-left: 1.25em;

		@include bp-min($container-start) {
			width: 108px;
			padding-left: 0;
		}
	}
}

.navbar__brand {
	width: 50px;
	margin-left: 1.5em;
	display: inline-block;

	@include bp-min($container-start) {
		margin-left: 0;
		position: fixed;
		left: 24px;
	}

	img {
		width: 100%;
	}
}