
.post {
	font-size: 13px;
	line-height: 16px;

	&__sidebar,
	&__details > div {
		padding: 0 $gutter;
	}

	&__header {
		display: flex;
	}

	&__image {
		margin-bottom: $gutter;
	}

	&__details {
		display: flex;
		flex-wrap: wrap;
	}

	&__content {
		@include bp-min($col-width * 2) {
			flex: 0 0 $col-width * 2;
		}
	}

	.flex-expander {
		flex: 0 0 $col-width * 2;
		max-width: 100%;

		@include bp-min($col-width * 3) {
			flex: 1 0 $col-width * 2;
		}
	}

	&__title {
		@include block-separator();
		margin-top: 0;
		font-size: 19px;
		line-height: 23px;
		font-weight: 900;
		margin-bottom: .5em;
	}

	&__subhead {
		font-weight: 700;
	}

	&__description {
		font-weight: 400;
		color: grey(60);
	}

	&__footer {
		padding-bottom: $gutter;
	}

	figure {
		margin-bottom: $gutter;

		&.half-width {
			width: calc(50% - .5em);
			float: left;
		}

		&.half-width + .half-width {
			margin-left: 1em;
		}
	}

	a.cta {
		font-weight: 700;
		text-decoration: none;
		@include arrow;
	}
}

.page-template-default {

	.post__header,
	.post__hero,
	.post__content,
	.post__sidebar {
		display: block;
		padding: 0 $gutter;
	}

	@include bp-min($col-width * 2) {
		.post__header,
		.post__content,
		.post__sidebar {
			width: $col-width * 2;
		}
	}

	@include bp-min($col-width * 3) {
		.post__header,
		.post__content {
			float: left;
		}

		.post__sidebar {
			float: right;
			width: $col-width;
		}
	}

	@include fixed-grid-bp-min(4) {
		.post__header,
		.post__content {
			width: $col-width * 3;
		}
	}
	
	@include fixed-grid-bp-min(5) {
		.post__sidebar {
			width: $col-width * 2;
			padding-right: $gutter + $col-width;
		}
	}
}

.sidebar {

	@include bp-max($col-width * 3 - 1px) {
		.widget-wrap .inner {
			& > div {
				float: left;
				margin-right: 4em;
			}

			& > .widget-social {
				float: right;
				margin-right: 0;
			}
		}
	}

	.list--social {

		@include bp-min($col-width * 3) {
			display: flex;
			border-bottom: 2px solid black;
			padding-bottom: 1em;
			margin-top: 0;
			margin-bottom: .5em;
			justify-content: space-between;
		}
	}

	&__heading {
		font-size: 13px;
		font-weight: bold;
	}

	a {
		color: $dark-grey;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
