.projects__group-name {
	font-size: 12px;
	margin: 0;
	color: $medium-grey;
	letter-spacing: 1px;
}

.projects {

	& + & {
		margin-top: $gutter * 2;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}


.project {
	margin-bottom: 1em;
	min-height: $col-width * 2/3;

	&__title,
	&__category,
	&__description {
		margin: 0;
	}

	&__category a{
		font-size: 13px;
		color: $accent-color;
		@include hover-link($black);
		@include transition();

		&:hover {
			color: $black;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 900;
		letter-spacing: 1px;
		margin-bottom: .25rem;
		line-height: 1.25em;
		padding: .25em 0;
		color: black;

		.arrow {
			display: inline-block;
			opacity: 0;
			position: relative;
			transform: translateX(-50%);
			@include transition();
		}
	}

	&__link:hover .arrow{
		opacity: 1;
		transform: translateX(0);
	}

	&__description {
		font-size: 13px;
		line-height: 17px;
	}
}

.projects.flex-container {
	display: flex;
}

.projects__header {
	margin-bottom: $col-width/5;
	text-align: right;
	order: 2;

	flex: 1 0 $col-width/2;

	@include bp-min($col-width * 2.5) {
		text-align: left;
	}

	@include col-bp-min(3) {
		flex: 0 0 $col-width;
	}

	@include container-grid-bp-min(4) {
		&.flex-item {
			flex-basis: $col-width * 2;
			padding-left: $col-width + $gutter !important;
		}		
	}
}

.flex-container.projects-wrap {

	@include bp-max($col-width * 2 - 1px) {
		width: 50%;
	}

	@include bp-min($col-width * 2) {
		flex: 0 0 $col-width;
	}

	@include bp-min($col-width * 2.5) {
		flex-basis: $col-width * 2;
	}

	@include bp-min($col-width * 4) {
		flex: 1;
	}
}
