.projects__group-name {
	font-size: 12px;
	margin: 0;
	color: $medium-grey;
	letter-spacing: 1px;
}

.projects {

	& + & {
		margin-top: $gutter * 2;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}


.project {
	margin-bottom: 1em;
	min-height: $col-width * 2/3;

	&__title,
	&__category,
	&__description {
		margin: 0;
	}

	&__category {
		font-size: 13px;
		color: $accent-color;

		a:hover {
			color: $black;
			border-bottom: 1px solid $black;
			padding-bottom: 1px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 900;
		letter-spacing: 1px;
		margin-bottom: .25rem;
		line-height: 1.25em;
		padding: .25em 0;
		color: black;

		.arrow {
			display: inline;
			opacity: 0;
		}
	}

	&__link:hover .arrow{
		opacity: 1;
	}

	&__description {
		font-size: 13px;
		line-height: 17px;
	}
}

.projects__header {
	margin-bottom: $col-width/5;
	order: 2;
	text-align: right;
	flex: 1 0 $col-width/2;

	@include bp-min($col-width * 2.5) {
		text-align: left;
		flex-basis: $col-width;
	}

	@include container-grid-bp-min(5) {
		&.flex-item {
			flex: 0 0 $col-width * 2;
			padding-left: $col-width + $gutter !important;
		}		
	}
}

.flex-container.projects-wrap {
	flex: 0 0 $col-width;

	@include bp-min($col-width * 2.5) {
		flex-basis: $col-width * 2;
	}

	@include bp-min($col-width * 3) {
		flex: 1;
	}
}
